body {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: #111111;
    color:green;
}

.navigation {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:40px;
}

.navigation .option {
    position:relative;
    font-weight:bold;
    background: #313131;
    color: #c1c1c1;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #111111;
    border-right: 1px solid #212121;
    padding-left: 10px;
    padding-top:10px;
    text-align:center;
    float:left;
    width:calc(100% / 4 - 11px);
    height:30px;
}

.navigation .option:hover {
    cursor: pointer;
}

.navigation .option:active {
    background: rgba(0, 141, 0, 0.3);
}

.body {
    position:absolute;
    background:#111111;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #111111;
    border-right: 1px solid #212121;
    top:42px;
    left:0px;
    right:0px;
    bottom:0px;
}

.body .wifi {
    position:absolute;
    border:1px solid #313131;
    background:#151515;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
}

.body .wifi .current {
    position:absolute;
    top:5px;
    left:5px;
}

.body .wifi .current .title {
    top:5px;
    left:5px;
    width:100%;
    padding-bottom:5px;
    color:#e1e1e1;
    font-size:1em;
    font-weight:bold;
}

.body .wifi .current .value {
    font-size:.9em;
    color:#a1a1a1;
}